body {
    background-image: url('https://s3.amazonaws.com/vice_asset_uploader/files/1415737860B.gif?crop=1xw:0.9911894273127754xh;center,center&resize=1000:*');
    background-size: cover;
}

.blink {
    animation: blink 3s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      color: rgb(224, 249, 0);
    }
  }

  h1 {
    font-size: 50px;
    font-family: Haettenschweiler,sans-serif;
    color: rgb(255, 252, 71);
    text-align: right;
}